html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style: none;}
/*                    HTML Start                    */
body{
	font-family: Arial,Helvetica,sans-serif;
}
span.green{
	color: #13CF13;
}
:focus{
	outline: none;
}
.welcomePannel .colorBox{
	background: rgb(63,165,53);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmYTUzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzNmYTUzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzZiYjAyMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzZiYjAyMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YmIwMjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(63,165,53,1) 0%, rgba(63,165,53,1) 50%, rgba(107,176,35,1) 50%, rgba(107,176,35,1) 50%, rgba(107,176,35,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(63,165,53,1)), color-stop(50%,rgba(63,165,53,1)), color-stop(50%,rgba(107,176,35,1)), color-stop(50%,rgba(107,176,35,1)), color-stop(100%,rgba(107,176,35,1)));
	background: -webkit-linear-gradient(left,  rgba(63,165,53,1) 0%,rgba(63,165,53,1) 50%,rgba(107,176,35,1) 50%,rgba(107,176,35,1) 50%,rgba(107,176,35,1) 100%);
	background: -o-linear-gradient(left,  rgba(63,165,53,1) 0%,rgba(63,165,53,1) 50%,rgba(107,176,35,1) 50%,rgba(107,176,35,1) 50%,rgba(107,176,35,1) 100%);
	background: -ms-linear-gradient(left,  rgba(63,165,53,1) 0%,rgba(63,165,53,1) 50%,rgba(107,176,35,1) 50%,rgba(107,176,35,1) 50%,rgba(107,176,35,1) 100%);
	background: linear-gradient(to right,  rgba(63,165,53,1) 0%,rgba(63,165,53,1) 50%,rgba(107,176,35,1) 50%,rgba(107,176,35,1) 50%,rgba(107,176,35,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fa535', endColorstr='#6bb023',GradientType=1 );
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

.welcomePannel .messageBox{
	background: url(../images/bubble.png) no-repeat 0 0;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	height: 95px;
	line-height: 18px;
	padding: 22px 40px 0;
	text-align: center;
	width: 158px;
}
.secondStep{
	background: rgb(63,165,53);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmYTUzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iIzNmYTUzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iIzZiYjAyMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YmIwMjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(63,165,53,1) 0%, rgba(63,165,53,1) 95%, rgba(107,176,35,1) 95%, rgba(107,176,35,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(63,165,53,1)), color-stop(95%,rgba(63,165,53,1)), color-stop(95%,rgba(107,176,35,1)), color-stop(100%,rgba(107,176,35,1)));
	background: -webkit-linear-gradient(left,  rgba(63,165,53,1) 0%,rgba(63,165,53,1) 95%,rgba(107,176,35,1) 95%,rgba(107,176,35,1) 100%);
	background: -o-linear-gradient(left,  rgba(63,165,53,1) 0%,rgba(63,165,53,1) 95%,rgba(107,176,35,1) 95%,rgba(107,176,35,1) 100%);
	background: -ms-linear-gradient(left,  rgba(63,165,53,1) 0%,rgba(63,165,53,1) 95%,rgba(107,176,35,1) 95%,rgba(107,176,35,1) 100%);
	background: linear-gradient(to right,  rgba(63,165,53,1) 0%,rgba(63,165,53,1) 95%,rgba(107,176,35,1) 95%,rgba(107,176,35,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fa535', endColorstr='#6bb023',GradientType=1 );
	border-radius: 20px;
}
.wrapAll{
	padding: 2.5% 5% 5%;
}
.thumb ul{
	text-align: center;
}
.thumb ul li{
	display: inline-block;
	text-align: center;
}
.firstSlider{
	position: relative;
	/*overflow: hidden;*/
}
#tab-1{
	background: url(../images/first-tab-bg.jpg) repeat-x #015601;
}
#tab-2{
	background: url(../images/second-tab-bg.png) repeat-x #015601;
}
#tab-4{
	background:url(../images/bg.png) repeat-x #015601;
}
.firstOption{
		background: url(../images/third-tab-oneBg.png) repeat-x 0 0;
		height: 428px;
		overflow: hidden;
		position: relative;
	}
.secondOption ul li a{
	background: url(../images/football-icon.png) no-repeat 0 0;
	margin: 5px 0;
	padding: 2px 0 2px 28px;
	display: block;
	text-decoration: none;
	color: #000;
}
.secondOption ul li a:hover, .secondOption ul li a.active{
	background: url(../images/football-icon.png) no-repeat 0 -161px;
}
.optionThree{
	background: url(../images/last-tab-bg.png) no-repeat center 0;
	height: 428px;
}
@media (min-width: 768px) {
	.packet{
		background:#fff;
		width: 768px;
		height: 472px;
		margin: 100px auto 0;
		position: relative;
	}
	.ballAnimation {
	    left: 25.5%;
	    position: absolute;
	    top: 40%;
	    z-index: 1;
	}
	.welcomePannel{
		position: relative;
		z-index: 2;
	}
	.welcomePannel .football{
		left: 25.5%;
		position: absolute;
		top: 40%;
	}
	.welcomePannel .colorBox{
		height: 472px;
		left: 88px;
		position: relative;
		width: 296px;
	}
	.welcomePannel .messageBox{
		left: 246px;
		position: absolute;
		top: 48px;
	}
	.welcomePannel .player{
		left: 420px;
		position: absolute;
		top: 115px;
	}
	.welcomePannel .logo{
		bottom: 54px;
		left: 426px;
		position: absolute;
	}
	.r-tabs-nav li:first-child:after{
		border-bottom: 0 solid transparent;
		border-right: 36px solid #86c57f;
		border-top: 36px solid transparent;
		bottom: 0;
		content: "";
		height: 0;
		left: -36px;
		position: absolute;
		width: 0;
	}
	.r-tabs-panel{
		min-height: 428px;
	}
	.fontIntroMessage{
		background: url(../images/intro-text-bg.png) no-repeat 0 0;
		left: 35px;
		padding: 31px 31px 50px;
		position: absolute;
		top: 102px;
		width: 572px;
	}
	.fontIntroMessage > p {
	    margin-bottom: 8px;
	}
	.r-tabs-panel h2{
		color: #019A01;
		font-family: 'Oswald',sans-serif;
		font-size: 26px;
		letter-spacing: 1px;
		line-height: 30px;
		margin-bottom: 5px;
	}
	.slider ul li{
		min-height: 428px;
		position: relative;
	}
	.image01 {
		left: 21px;
		position: absolute;
		top: 66px;
		z-index:9;
	}
	.sliderText01 {
		background:url(../images/text-bg-01.png) no-repeat 0 0;
		padding: 26px 38px 43px 28px;
		position: absolute;
		right: 49px;
		top: 65px;
		width: 275px;
		z-index:9;
	}
	.firstLine {
		bottom: 0px;
		left: 270px;
		position: absolute;
	}
	.image02 {
		bottom: 15px;
		left: 80px;
		position: absolute;
		z-index: 9;
	}
	.sliderText02{
		background:url(../images/text-bg-02.png) no-repeat 0 0;
		padding: 24px 34px 46px;
		position: absolute;
		right: 19px;
		top: 50px;
		width: 298px;
		z-index:9;	
	}
	.secondLine {
		bottom: 0px;
		left: 0;
		position: absolute;
	}
	.image03 {
		bottom: 1px;
		left: 40px;
		position: absolute;
	}
	.sliderText03{
		background:url(../images/text-bg-03.png) no-repeat 0 0;
		padding: 30px 38px 36px 32px;
		position: absolute;
		right: 19px;
		top: 50px;
		width: 276px;	
	}
	.thirdLine {
		bottom: 0px;
		position: absolute;
		right: 14px;
	}
	.image04 {
		bottom: 15px;
		left: 80px;
		position: absolute;
		z-index: 9;
	}
	.sliderText04{
		background:url(../images/text-bg-04.png) no-repeat 0 0;
		padding: 20px 28px 36px;
		position: absolute;
		right: 19px;
		top: 50px;
		width: 278px;	
	}
	.image05{
		left: 21px;
		position: absolute;
		top: 66px;
		z-index:9;
	}
	.sliderText05{
		background:url(../images/text-bg-05.png) no-repeat 0 0;
		padding: 20px 29px 36px;
		position: absolute;
		right: 19px;
		top: 50px;
		width: 295px;	
	}
	.image06 {
		bottom: 5px;
		left: 78px;
		position: absolute;
	}
	.sliderText06{
		background:url(../images/text-bg-06.png) no-repeat 0 0;
		padding: 32px 57px 56px 31px;
		position: absolute;
		right: 19px;
		top: 50px;
		width: 288px;	
	}
	.sixthLine {
		bottom: -3px;
		position: absolute;
		right: 124px;
	}
	.seventhLine {
	    position: absolute;
	    right: 0;
	    top: 213px;
	}
	.firstPlayer {
	    bottom: 50px;
	    left: 30px;
	    position: absolute;
	    z-index: 9;
	}
	.secondPlayer {
	    bottom: 60px;
	    left: 190px;
	    position: absolute;
	    z-index: 9;
	}
	.thirdPlayer {
	    bottom: 70px;
	    left: 320px;
	    position: absolute;
	    z-index: 9;
	}
	.fourthPlayer {
	    bottom: 120px;
	    position: absolute;
	    right: 16px;
	    z-index: 9;
	}
	.introMessage{
		background: url(../images/text-bg-07.png) no-repeat;
		left: 7px;
	    padding: 22px 66px 82px 29px;
	    position: absolute;
	    top: 45px;
	    width: 560px;
	}
	.introMessage h2{
		width: 50%;
	}
	.firstMessage{
		background: url(../images/text-bg-08.png) no-repeat;
		bottom: 170px;
		left: 10px;
		padding: 17px 29px 33px;
		position: absolute;
		width: 200px;
		z-index: 10;
	}
	.secondMessage{
		background: url(../images/text-bg-09.png) no-repeat;
		bottom: 183px;
		left: 267px;
		padding: 21px 30px 28px 20px;
		position: absolute;
		width: 180px;
		z-index: 10;
	}
	.thirdMessage{
		background: url(../images/text-bg-10.png) no-repeat;
		bottom: 103px;
      padding: 11px 14px 26px 28px;
	    position: absolute;
	    right: 20px;
	    width: 220px;
	    z-index: 10;
	}
	.fourthMessage{
		background: url(../images/text-bg-11.png) no-repeat;
		padding: 16px 26px 35px 24px;
	    position: absolute;
	    right: 32px;
	    top: 175px;
	    width: 140px;
	    z-index: 10;
	}
	.lastMessage{
		background: url(../images/text-bg-12.png) no-repeat;
		bottom: 3px;
		left: 15px;
		padding: 9px 43px 35px 29px;
		position: absolute;
		width: 566px;
		z-index: 10;
	}
	.nextBtn {
	    bottom: 10px;
	    position: absolute;
	    right: 10px;
	    z-index: 99;
	}
	/*.firstOption{
		background: url(../images/third-tab-oneBg.png) repeat-x 0 0;
		height: 428px;
		overflow: hidden;
		position: relative;
	}*/
	.fieldBoder {
	    left: -45px;
	    position: absolute;
	    top: 100px;
	}
	.footBallAnimate {
	    position: absolute;
	    right: 201px;
	    top: 148px;
	}
	.secondOption, .thirdOption, .optionFour{
		background: url(../images/third-tab-twoBg.jpg) no-repeat 0 0;
		height: 428px;
		position: relative;
	}
	.wrap {
	    padding: 38px;
	}
	.secondOption h2 {
	    margin-bottom: 15px;
	}
	.secondOption p, .secondOption ul {
	    margin-bottom: 15px;
	}
	.prevBtn {
		bottom: 10px;
		position: absolute;
		right: 58px;
	}
	.secondIntroMessage{
		background: url(../images/intro-text-bg2.png) no-repeat 0 0;
		left: 50px;
	    padding: 38px 40px 45px 32px;
	    position: absolute;
	    top: 80px;
	    width: 560px;
	}
	.secondIntroMessage > h2 {
	    margin-bottom: 10px;
	}
	.secondIntroMessage > p {
	    margin-bottom: 10px;
	}
	.image07 {
	    bottom: 10px;
	    left: 40px;
	    position: absolute;
	    z-index: 9;
	}
	.sliderText07{
		background: url(../images/text-7.png) no-repeat 0 0;
		padding: 30px 20px 35px;
	    position: absolute;
	    right: 60px;
	    top: 71px;
	    width: 290px;
	}
	.SeventhLine{
		bottom: 1px;
	    left: 290px;
	    position: absolute;
	}
	.image08{
		bottom: 40px;
	    left: 30px;
	    position: absolute;
	}
	.sliderText08{
		background: url(../images/text-8.png) no-repeat 0 0;
		padding: 20px 21px 43px 23px;
	    position: absolute;
	    right: 40px;
	    top: 41px;
	    width: 290px;
	}
	.eighthLine{
		bottom: 0px;
	    left: 0;
	    position: absolute;
	}
	.image09{
		bottom: 0;
	    left: 70px;
	    position: absolute;
	}
	.sliderText09{
		background: url(../images/text-9.png) no-repeat 0 0;
		padding: 30px 20px 40px 38px;
	    position: absolute;
	    right: 10px;
	    top: 60px;
	    width: 290px;
	}
	.ninethLine{
		bottom: 0px;
	    position: absolute;
	    right: 70px;
	}
	.image10{
		bottom: 30px;
	    left: 60px;
	    position: absolute;
	}
	.sliderText10{
		background: url(../images/text-10.png) no-repeat 0 0;
		padding: 20px 24px 40px;
	    position: absolute;
	    right: 10px;
	    top: 60px;
	    width: 290px;
	}
	.tenthLine{
		bottom: 0px;
	    left: 260px;
	    position: absolute;
	}
	.image11{
		bottom: 43px;
	    left: 80px;
	    position: absolute;
	}
	.sliderText11{
		background: url(../images/text-11.png) no-repeat 0 0;
		padding: 20px 30px 40px 20px;
	    position: absolute;
	    right: 20px;
	    top: 70px;
	    width: 300px;
	}
	.footBallTwo {
	    left: 44.7%;
	    position: absolute;
	    top: 176px;
	}
	.summitBtn {
	    bottom: 10px;
	    position: absolute;
	    right: 10px;
	}
	.nextBtn2 {
	    bottom: 10px;
	    position: absolute;
	    right: 10px;
	}
}
@media (max-width: 767px) {
	.packet{
		background:#fff;
		width: 100%;
		min-height: 472px;
		position: relative;
	}
	.ballAnimation{
		position: absolute;
		text-align: center;
		top: 40%;
		width: 100%;
	}
	.welcomePannel .colorBox{
		width: 65%;
		height: 472px;
		margin: 30px auto;
	}
	.welcomePannel .football{
		position: absolute;
		text-align: center;
		top: 40%;
		width: 100%;
		z-index: 9;
	}
	.football > img, .ballAnimation > img {
	    margin-right: 20%;
	}
	.welcomePannel .messageBox{
		background: none;
		height: auto;
		padding: 0;
		position: absolute;
		top: 34px;
		width: 100%;
	}
	.welcomePannel .messageBox .textBox{
		background: url(../images/bubble.png) no-repeat 0 0;
		width: 158px;
		height: 95px;
		padding: 22px 40px 0;
		margin: 0 auto;
	}
	.welcomePannel .player{
		position: absolute;
		text-align: center;
		top: 40%;
		width: 100%;
		z-index: 1;
	}
	.welcomePannel .player > img{
		margin-left: 20%;
	}
	.welcomePannel .logo{
		text-align: center;
		margin: 25px 0
	}
	.firstLine, .secondLine, .thirdLine, .sixthLine, .seventhLine, .SeventhLine, .eighthLine, .ninethLine, .tenthLine{
		display: none;
	}
	.fontIntroMessage, .introMessage, .lastMessage{
	    padding: 20px;
	}
	.introWrap {
		background: none repeat scroll 0 0 #D0E5D4;
		padding: 30px;
		box-shadow:0 0 8px #333;
	}
	.r-tabs-panel h2{
		color: #019A01;
		font-family: 'Oswald',sans-serif;
		font-size: 20px;
		letter-spacing: 1px;
		line-height: 26px;
		margin-bottom: 5px;
	}
	.sliderPicture{
		text-align: center;
	}
	.slideText, .message{
		background: none repeat scroll 0 0 #D0E5D4;
		margin: 0 auto 12px;
		padding: 20px;
		max-width: 280px;
		border-radius: 20px;
		box-shadow: 3px 4px 8px #111;
	}
	.nextBtn{
		text-align: center;
		margin: 10px 0;
	}
	.player {
		text-align: center;
	}
	#tab-3{
		overflow: hidden;
	}
	.fieldBoder{
		background: url(../images/field-boder.png) no-repeat center 110px;
		height: 430px;
	}
	.fieldBoder img{
		display: none;
	}
	.footBallAnimate {
	    position: absolute;
	    right: 29%;
	    top: 156px;
	}
	.secondOption, .thirdOption, .optionFour{
		background: #fff;
	}
	.wrap{
		padding:20px;
	}
	.secondOption h4{
		padding: 20px 0 0;
	}
	.summitBtn {
	    text-align: right;
	}
	.buttonControls{
		text-align: right;
		margin-top: 15px;
	}
	.buttonControls > div{
		display: inline-block;
		margin-left: 10px;
	}
	.nextBtn2 {
		margin-top: 15px;
		text-align: right;
	}
	.optionThree{
		position: relative;
	}
	.footBallTwo {
	    position: absolute;
	    text-align: center;
	    top: 139px;
	    width: 100%;
	}
}	






@media (max-width: 466px) {
	.welcomePannel .colorBox{
		width: 80%;
		height: 472px;
		margin: 30px auto;
	}
}
