@charset "utf-8";
/* CSS Document */
.imagesLoad {
    height: 0;
    left: -99999px;
    position: absolute;
    bottom: 999999px;
    visibility: hidden;
    width: 0;
}
.imagesLoad img {
    bottom: 999999px;
    height: 0;
    left: -999999px;
    position: absolute;
    width: 0;
}
*{
	padding:0;
	margin:0;	
}
li{
	list-style:none;
}
a{
	outline: none;
}	
.mainContainer {
    margin: 0 auto;
    max-width: 700px;
}
body{
	font-family:"Arial", Helvetica, sans-serif;
	font-size:14px;
	line-height:20px;
}
.slider, .sliderTwo{
	position:relative;
	background:url(images/bg.png) repeat-x 0 0 #015601;	
}
/*.slider .flexslider{
	background:none;
	border:none;
	border-radius:0;
	margin:0;
	box-shadow:none;	
}*/
/*.flex-direction-nav{
	display:none;	
}*/
#carousel .slides > li, #carouselTwo .slidesTwo > li {
	position:relative;
	z-index:999;
	cursor:pointer;
	opacity:0.5;
}
#carousel .slides > li.active-slide, #carousel .slides > li:hover, #carouselTwo .slidesTwo > li.active-slide, #carouselTwo .slidesTwo > li:hover{
	opacity:1;	
}
#tab-2{
	background: url(images/second-tab-bg.png) repeat-x 0 0;
	height: 428px;
	position: relative;
    width: 100%;
}
.green{
	color: #029b02;
}
.firstOption{
	background: url(images/third-tab-oneBg.png) repeat-x 0 0;
	height: 428px;
	overflow: hidden;
	position: relative;
}
.wrap {
    padding: 38px;
}
.summitBtn > a {
    background: url(images/submit.png) no-repeat 0 0;
    bottom: 15px;
    height: 53px;
    position: absolute;
    right: 15px;
    width: 40px;
}
.summitBtn > a:hover {
	background: url(images/submit.png) no-repeat 0 100%;
}
.secondOption ul li a{
	background: url(images/football-icon.png) no-repeat 0 bottom;
	margin: 5px 0;
    padding-left: 28px;
    display: inline-block;
    text-decoration: none;
    color: #000;
}
.secondOption ul li a:focus, .secondOption ul li a:hover, .secondOption ul li a.active{
	background: url(images/football-icon.png) no-repeat 0 1px;
}
.optionThree{
	background: url(images/last-tab-bg.png) no-repeat 0 0;
	height: 428px;
}
.footBallTwo {
    left: 344px;
    position: absolute;
    top: 170px;
}
@media (min-width: 700px) {
	.slider, .sliderTwo{
		height:428px; 
	}
	.fontIntroMessage{
		background: url(images/intro-text-bg.png) no-repeat 0 0;
		left: 41px;
	    padding: 31px 31px 44px;
	    position: absolute;
	    top: 102px;
	    width: 572px;
	}
	.fontIntroMessage > p {
	    margin-bottom: 8px;
	}
	.secondIntroMessage{
		background: url(images/intro-text-bg2.png) no-repeat 0 0;
		left: 50px;
	    padding: 38px 40px 39px 32px;
	    position: absolute;
	    top: 80px;
	    width: 560px;
	}
	.secondIntroMessage > h2 {
	    margin-bottom: 10px;
	}
	.secondIntroMessage > p {
	    margin-bottom: 10px;
	}
	#slider .slides > li, #sliderTwo .slidesTwo > li{
		position:relative;
		min-height:428px;
	}
	.image01 {
		left: 21px;
		position: absolute;
		top: 66px;
		z-index:9;
	}
	.sliderText01 {
		background:url(images/text-bg-01.png) no-repeat 0 0;
		padding: 21px 38px 33px;
		position: absolute;
		right: 49px;
		top: 65px;
		width: 275px;
		z-index:9;
	}
	.firstLine {
		bottom: -3px;
		left: 270px;
		position: absolute;
	}
	.image02 {
		bottom: 15px;
		left: 80px;
		position: absolute;
		z-index: 9;
	}
	.sliderText02{
		background:url(images/text-bg-02.png) no-repeat 0 0;
		padding: 18px 38px 33px;
		position: absolute;
		right: 19px;
		top: 50px;
		width: 298px;
		z-index:9;	
	}
	.secondLine {
		bottom: -3px;
		left: 0;
		position: absolute;
	}
	.image03 {
		bottom: 1px;
		left: 40px;
		position: absolute;
	}
	.sliderText03{
		background:url(images/text-bg-03.png) no-repeat 0 0;
		padding: 30px 38px 36px;
		position: absolute;
		right: 19px;
		top: 50px;
		width: 298px;	
	}
	.thirdLine {
		bottom: -3px;
		position: absolute;
		right: 14px;
	}
	.image04 {
		bottom: 15px;
		left: 80px;
		position: absolute;
		z-index: 9;
	}
	.sliderText04{
		background:url(images/text-bg-04.png) no-repeat 0 0;
		padding: 23px 29px 36px;
		position: absolute;
		right: 19px;
		top: 50px;
		width: 273px;	
	}
	.image05{
		left: 21px;
		position: absolute;
		top: 66px;
		z-index:9;
	}
	.sliderText05{
		background:url(images/text-bg-05.png) no-repeat 0 0;
		padding: 23px 29px 36px;
		position: absolute;
		right: 19px;
		top: 50px;
		width: 295px;	
	}
	.image06 {
		bottom: 5px;
		left: 78px;
		position: absolute;
	}
	.sliderText06{
		background:url(images/text-bg-06.png) no-repeat 0 0;
		padding: 32px 57px 56px 31px;
		position: absolute;
		right: 19px;
		top: 50px;
		width: 288px;
	}
	.sixthLine {
		bottom: -3px;
		position: absolute;
		right: 124px;
	}
	#carousel{
		bottom: 12px;
		position: absolute;
		right: 45px;
	}
	#carouselTwo{
		bottom: 12px;
	    position: absolute;
	    right: 45px;
	}
	#carousel .slides > li, #carouselTwo .slidesTwo > li{
		width:56px !important;
		text-align:center;
		cursor:pointer;
		display:inline-block;	
	}
	.customSlider, .customSliderTwo{
		position:relative;
		overflow: hidden;
		height: 100%;	
	}
	.r-tabs h2{
		color: #019A01;
	    font-family: 'Oswald',sans-serif;
	    font-size: 26px;
	    line-height: 30px;
	    margin-bottom: 5px;
	    letter-spacing: 1px;
	}
	.r-tabs p {
	    font-size: 14px;
	    line-height: 20px;
	}
	.seventhLine {
	    position: absolute;
	    right: 0;
	    top: 176px;
	}
	.firstPlayer {
	    bottom: 50px;
	    left: 30px;
	    position: absolute;
	    z-index: 9;
	}
	.secondPlayer {
	    bottom: 60px;
	    left: 190px;
	    position: absolute;
	    z-index: 9;
	}
	.thirdPlayer {
	    bottom: 70px;
	    left: 320px;
	    position: absolute;
	    z-index: 9;
	}
	.fourthPlayer {
	    bottom: 120px;
	    position: absolute;
	    right: 16px;
	    z-index: 9;
	}
	.introMessage{
		background: url(images/text-bg-07.png) no-repeat;
		left: 7px;
	    padding: 22px 66px 82px 29px;
	    position: absolute;
	    top: 12px;
	    width: 560px;
	}
	.introMessage h2{
		width: 50%;
	}
	.firstMessage{
		background: url(images/text-bg-08.png) no-repeat;
		bottom: 178px;
	    left: 10px;
	    padding: 11px 29px 19px;
	    position: absolute;
	    width: 200px;
	    z-index: 10;
	}
	.secondMessage{
		background: url(images/text-bg-09.png) no-repeat;
		bottom: 175px;
	    left: 267px;
	    padding: 18px 30px 21px 20px;
	    position: absolute;
	    width: 180px;
	    z-index: 10;
	}
	.thirdMessage{
		background: url(images/text-bg-10.png) no-repeat;
		bottom: 108px;
	    padding: 9px 14px 19px 28px;
	    position: absolute;
	    right: 20px;
	    width: 220px;
	    z-index: 10;
	}
	.fourthMessage{
		background: url(images/text-bg-11.png) no-repeat;
		padding: 16px 26px 24px 24px;
	    position: absolute;
	    right: 32px;
	    top: 125px;
	    width: 140px;
	    z-index: 10;
	}
	.lastMessage{
		background: url(images/text-bg-12.png) no-repeat;
		bottom: 2px;
	    left: 15px;
	    padding: 7px 43px 24px 29px;
	    position: absolute;
	    width: 566px;
	    z-index: 10;
	}
	.nextBtn {
	    bottom: 2px;
	    position: absolute;
	    right: 10px;
	    z-index: 12;
	}
	.prevBtn {
	    bottom: 1px;
	    position: absolute;
	    right: 58px;
	}
	.fieldBoder {
	    left: -45px;
	    position: absolute;
	    top: 100px;
	}
	.footBallAnimate {
	    position: absolute;
	    right: 212px;
	    top: 148px;
	}
	.secondOption, .thirdOption, .optionFour{
		background: url(images/third-tab-twoBg.jpg) no-repeat 0 0;
		height: 428px;
	}
	.secondOption h2 {
	    margin-bottom: 15px;
	}
	.secondOption p, .secondOption ul {
	    margin-bottom: 15px;
	}
	.image07 {
	    bottom: 10px;
	    left: 40px;
	    position: absolute;
	    z-index: 9;
	}
	.sliderText07{
		background: url(images/text-7.png) no-repeat 0 0;
		padding: 30px 20px;
	    position: absolute;
	    right: 60px;
	    top: 71px;
	    width: 290px;
	}
	.SeventhLine{
		bottom: -2px;
	    left: 290px;
	    position: absolute;
	}
	.image08{
		bottom: 40px;
	    left: 30px;
	    position: absolute;
	}
	.sliderText08{
		background: url(images/text-8.png) no-repeat 0 0;
		padding: 20px 21px 43px 23px;
	    position: absolute;
	    right: 40px;
	    top: 41px;
	    width: 290px;
	}
	.eighthLine{
		bottom: -3px;
	    left: 0;
	    position: absolute;
	}
	.image09{
		bottom: 0;
	    left: 70px;
	    position: absolute;
	}
	.sliderText09{
		background: url(images/text-9.png) no-repeat 0 0;
		padding: 24px 20px 33px 47px;
	    position: absolute;
	    right: 10px;
	    top: 60px;
	    width: 290px;
	}
	.ninethLine{
		bottom: -3px;
	    position: absolute;
	    right: 70px;
	}
	.image10{
		bottom: 30px;
	    left: 60px;
	    position: absolute;
	}
	.sliderText10{
		background: url(images/text-10.png) no-repeat 0 0;
		padding: 20px 30px 40px;
	    position: absolute;
	    right: 10px;
	    top: 60px;
	    width: 290px;
	}
	.tenthLine{
		bottom: -5px;
	    left: 260px;
	    position: absolute;
	}
	.image11{
		bottom: 43px;
	    left: 80px;
	    position: absolute;
	}
	.sliderText11{
		background: url(images/text-11.png) no-repeat 0 0;
		padding: 20px 30px 40px 20px;
	    position: absolute;
	    right: 20px;
	    top: 70px;
	    width: 300px;
	}
	.eleventhLine{

	}
}


@media (max-width: 699px) {
	.firstLine, .secondLine, .thirdLine, .sixthLine{
		display:none;	
	}
	.image01, .image02, .image03, .image04, .image05, .image06{
		text-align:center;	
	}
	.flexslider .slides img {
		display: inline-block;
	}
	.sliderText01, .sliderText02, .sliderText03, .sliderText04, .sliderText05, .sliderText06{
		background-color: #D0E5D4;
		border-radius: 8px;
		box-shadow: 2px 3px 5px #000000;
		margin: 0 auto 20px;
		padding: 5%;
		width: 80%;
	}
	#carousel .slides {
	    text-align: center;
	    width: 100% !important;
		padding-bottom: 35px;
	}
	#carousel .slides > li {
	    display: inline-block !important;
	    float: none !important;
	    width: 12% !important;
	}
}